# Part2 : SQLite

## connecting SQL database to python and accessing Facilities, Bookings and Members tables

In [1]:
import sqlite3
import pandas as pd

In [2]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("C:/Users/gellima/Desktop/Springboard_DScience/SQLFiles Tier 1/sqlite_db_pythonsqlite.db")
df_fac = pd.read_sql_query("SELECT * from Facilities", con)

In [3]:
print(df_fac.head())

   facid             name  membercost  guestcost  initialoutlay  \
0      0   Tennis Court 1         5.0       25.0          10000
1      1   Tennis Court 2         5.0       25.0           8000
2      2  Badminton Court         0.0       15.5           4000
3      3     Table Tennis         0.0        5.0            320
4      4   Massage Room 1         9.9       80.0           4000

   monthlymaintenance
0                 200
1                 200
2                  50
3                  10
4                3000

In [4]:
df_book = pd.read_sql_query("SELECT * from Bookings", con)
print(df_book.head())

   bookid  facid  memid            starttime  slots
0       0      3      1  2012-07-03 11:00:00      2
1       1      4      1  2012-07-03 08:00:00      2
2       2      6      0  2012-07-03 18:00:00      2
3       3      7      1  2012-07-03 19:00:00      2
4       4      8      1  2012-07-03 10:00:00      1

# Q10. /* Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members! */

In [5]:
query1= '''
select F.name as Facility, 
(case when B.memid=0 THEN F.guestcost * B.slots
      when B.memid>0 THEN F.membercost * B.slots
      ELSE 0 END) AS Total_Revenue

From Facilities as F
Left Join Bookings as B
on F.facid=B.facid

where Total_Revenue<1000

Order by Total_Revenue DESC
'''
df_fac_list = pd.read_sql_query(query1, con)
print(df_fac_list.head())

         Facility  Total_Revenue
0  Massage Room 1          640.0
1  Massage Room 1          640.0
2  Massage Room 1          640.0
3  Massage Room 1          480.0
4  Massage Room 1          480.0

# Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [6]:
df_mem= pd.read_sql_query("SELECT * from Members", con)
#print(df_mem.head())

In [36]:
query_mem_rec='''

select * from

(select m1.memid,  m1.surname || ' ' || m1.firstname AS mem_name, m1.recommendedby, m2.surname || ' ' ||  m2.firstname as rec_name
from Members as m2


LEFT JOIN Members as m1
  on m1.memid=m2.recommendedby) AS data

where memid>0
Order by rec_name


'''

df_mem_rec = pd.read_sql_query(query_mem_rec, con)
print(df_mem_rec)

    memid           mem_name recommendedby                 rec_name
0       9    Stibbons Ponder             6           Bader Florence
1       9    Stibbons Ponder             6               Baker Anne
2      13     Farrell Jemima                          Baker Timothy
3       3         Rownam Tim                             Boothe Tim
4       1       Smith Darren                         Butters Gerald
5      16      Baker Timothy            13              Coplin Joan
6       2        Smith Tracy                          Crumpet Erica
7       4    Joplette Janice             1               Dare Nancy
8       5     Butters Gerald             1          Genting Matthew
9      30  Purview Millicent             2                Hunt John
10      4    Joplette Janice             1              Jones David
11     11        Jones David             4            Jones Douglas
12      1       Smith Darren                        Joplette Janice
13      1       Smith Darren                         Mackenzie Anna
14      1       Smith Darren                           Owen Charles
15     13     Farrell Jemima                           Pinker David
16      2        Smith Tracy                      Purview Millicent
17     20    Genting Matthew             5         Rumney Henrietta
18     15     Bader Florence             9         Sarwin Ramnaresh
19      1       Smith Darren                             Smith Jack
20      6       Tracy Burton                        Stibbons Ponder
21      2        Smith Tracy                Worthington-Smyth Henry

# Q12: Find the facilities with their usage by member, but not guests */

In [30]:
query='''
select F.name as Facility, B.memid, 
(case when memid !=0 THEN sum(slots) ELSE 0 END) AS Total_mem_bookings     
     
from Bookings as B
Left Join Facilities as F
       on B.facid = F.facid


Group by F.name, B.memid
Order by Total_mem_bookings DESC

'''
df_book_list = pd.read_sql_query(query, con)
print(df_book_list.head(20))

           Facility  memid  Total_mem_bookings
0   Badminton Court      1                 432
1        Pool Table      3                 282
2    Massage Room 1      3                 176
3    Tennis Court 1      5                 171
4    Tennis Court 2      8                 168
5      Table Tennis      3                 150
6     Snooker Table      4                 142
7    Tennis Court 2     10                 141
8    Tennis Court 2     12                 114
9      Squash Court     12                 110
10  Badminton Court      2                 102
11   Tennis Court 2     11                  99
12  Badminton Court     21                  96
13   Tennis Court 2      9                  96
14       Pool Table     16                  95
15   Tennis Court 1      2                  93
16   Tennis Court 1      6                  93
17    Snooker Table      2                  90
18    Snooker Table      8                  90
19     Table Tennis     15                  86

# Q13: Find the facilities usage by month, but not guests */

In [31]:
query_fac='''
select F.name as Facility, B.memid, strftime('%m', B.starttime) as Month,  
(case when memid !=0 THEN sum(slots) ELSE 0 END) AS Total_mem_bookings,
(case when memid =0 THEN sum(slots) ELSE 0 END) AS Total_guest_bookings

from Bookings as B 
Left JOIN Facilities as F
on B.facid=F.facid


Group by Month, Facility
Order by Total_mem_bookings DESC

'''
df_fac_use=pd.read_sql_query(query_fac, con)
print(df_fac_use)

           Facility  memid Month  Total_mem_bookings  Total_guest_bookings
0    Massage Room 1      8    09                 648                     0
1   Badminton Court      1    09                 570                     0
2    Massage Room 1      5    08                 492                     0
3    Tennis Court 2      8    08                 483                     0
4        Pool Table     17    09                 471                     0
5   Badminton Court      1    08                 459                     0
6    Tennis Court 1      5    08                 459                     0
7     Snooker Table     21    09                 426                     0
8      Table Tennis     17    09                 422                     0
9     Snooker Table      4    08                 326                     0
10       Pool Table      3    08                 322                     0
11     Table Tennis      7    08                 304                     0
12   Tennis Court 1      2    07                 270                     0
13   Massage Room 1      1    07                 264                     0
14  Badminton Court      1    07                 180                     0
15    Snooker Table      1    07                 156                     0
16       Pool Table      1    07                 117                     0
17     Table Tennis      1    07                 104                     0
18   Massage Room 2      7    08                  82                     0
19   Massage Room 2      0    07                   0                    24
20     Squash Court      0    07                   0                   164
21   Tennis Court 2      0    07                   0                   207
22     Squash Court      0    08                   0                   400
23   Massage Room 2      0    09                   0                   122
24     Squash Court      0    09                   0                   540
25   Tennis Court 1      0    09                   0                   591
26   Tennis Court 2      0    09                   0                   588