# Part2 : SQLite

## connecting SQL database to python and accessing Facilities, Bookings and Members tables

In [52]:
import sqlite3
import pandas as pd

In [53]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("C:/Users/gellima/Desktop/Springboard_DScience/SQLFiles Tier 1/sqlite_db_pythonsqlite.db")
df_fac = pd.read_sql_query("SELECT * from Facilities", con)

In [54]:
print(df_fac.head(30))

   facid             name  membercost  guestcost  initialoutlay  \
0      0   Tennis Court 1         5.0       25.0          10000
1      1   Tennis Court 2         5.0       25.0           8000
2      2  Badminton Court         0.0       15.5           4000
3      3     Table Tennis         0.0        5.0            320
4      4   Massage Room 1         9.9       80.0           4000
5      5   Massage Room 2         9.9       80.0           4000
6      6     Squash Court         3.5       17.5           5000
7      7    Snooker Table         0.0        5.0            450
8      8       Pool Table         0.0        5.0            400

   monthlymaintenance
0                 200
1                 200
2                  50
3                  10
4                3000
5                3000
6                  80
7                  15
8                  15

# Q10. /* Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members! */

In [74]:
rev_fac=df_fac.loc[df_fac['initialoutlay']<1000]
rev_fac_cols=rev_fac[['name','initialoutlay']]
rev_fac_cols.sort_values(by='initialoutlay')
print(rev_fac_cols)

            name  initialoutlay
3   Table Tennis            320
7  Snooker Table            450
8     Pool Table            400

In [55]:
df_book = pd.read_sql_query("SELECT * from Bookings", con)
print(df_book.head())

   bookid  facid  memid            starttime  slots
0       0      3      1  2012-07-03 11:00:00      2
1       1      4      1  2012-07-03 08:00:00      2
2       2      6      0  2012-07-03 18:00:00      2
3       3      7      1  2012-07-03 19:00:00      2
4       4      8      1  2012-07-03 10:00:00      1

# Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [119]:
df_memb = pd.read_sql_query("SELECT * from Members", con)
print(df_memb.head())

   memid   surname firstname                       address  zipcode  \
0      0     GUEST     GUEST                         GUEST        0
1      1     Smith    Darren    8 Bloomsbury Close, Boston     4321
2      2     Smith     Tracy  8 Bloomsbury Close, New York     4321
3      3    Rownam       Tim        23 Highway Way, Boston    23423
4      4  Joplette    Janice    20 Crossing Road, New York      234

        telephone recommendedby             joindate
0  (000) 000-0000                2012-07-01 00:00:00
1    555-555-5555                2012-07-02 12:02:05
2    555-555-5555                2012-07-02 12:08:23
3  (844) 693-0723                2012-07-03 09:32:15
4  (833) 942-4710             1  2012-07-03 10:25:05

In [114]:
df_memb_reco=df_memb[['memid','surname','firstname', 'recommendedby']]
sort=data.sort_values(by=['surname', 'firstname'])
print(sort.head())

    memid  surname firstname recommendedby
15     15    Bader  Florence             9
12     12    Baker      Anne             9
16     16    Baker   Timothy            13
8       8   Boothe       Tim             3
5       5  Butters    Gerald             1

# Q12: Find the facilities with their usage by member, but not guests */

In [117]:
not_guests= df_memb[df_memb['surname']=='GUEST']
print(not_guests)

   memid surname firstname address  zipcode       telephone recommendedby  \
0      0   GUEST     GUEST   GUEST        0  (000) 000-0000

              joindate
0  2012-07-01 00:00:00